// Colors
$color-white: #ffffff;
$color-white-smoke: #F2F2F2;
$color-dim-gray: #737373;
$color-black: #000000;
$color-black-russian: #1E222E;
$color-blue: #1919EF;
$color-blue-gradient: linear-gradient(171.29deg, #1919EF 0%, #060698 100%);
$text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1),
  0 2px 0 rgba(255, 255, 255, 0.1),
  0 3px 0 rgba(255, 255, 255, 0.1),
  0 4px 0 rgba(255, 255, 255, 0.1),
  0 5px 10px rgba(0, 0, 0, 0.3);
// Typography
$ff-main: "Unbounded", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: 0.3s ease;
$transform-300: ease-in 0.3s; 