@use '@/assets/styles/variables' as *;
@use '@/assets/styles/mixins' as *;

.user-profile {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 40px;
    padding: 32px;
    background: $color-bg-tertiary;
    border-radius: 16px;
    border: $border-user-card;

    @media (prefers-color-scheme: light) {
      background: $color-bg-white;
      border: $border-bottom;
    }

    @include vp-mobile {
      padding: 22px;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 76px;
    margin: 0;
    position: relative;

    @include vp-mobile {
      padding-left: 64px;
    }

    &:first-child::before {
      content: attr(data-initials);
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      width: 60px;
      height: 60px;
      background: $color-background-disabled;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: 600;
      color: $color-white;

      @media (prefers-color-scheme: light) {
        background: $color-bg-primary;
      }

      @include vp-mobile {
        width: 42px;
        height: 42px;
      }
    }

    &:last-child::before {
      content: '';
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      width: 60px;
      height: 60px;
      background: $color-background-disabled;
      color: $color-white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      mask: url('@/assets/icons/mail.svg') no-repeat center;
      mask-size: contain;

      @media (prefers-color-scheme: light) {
        background: $color-bg-primary;
      }

      @include vp-mobile {
        width: 42px;
        height: 42px;
      }
    }
  }

  &__description {
    font: $font-play-body-medium;
    color: $color-text-disabled;
    margin: 0;

    @media (prefers-color-scheme: light) {
      color: $color-text-placeholder;
    }

    @include vp-mobile {
      font: $font-play-body-small;
    }
  }

  &__name,
  &__email {
    font: $font-play-h2;
    color: $color-white;
    text-wrap: wrap;
    margin: 0;

    @media (prefers-color-scheme: light) {
      color: $color-text-black-solid;
    }

    @include vp-mobile {
      font: $font-play-body-medium;
    }
  }

  &__logout {
    width: 100%;
    font: $font-play-h3;
    background: $color-accent;
    color: $color-white;
    border: none;
    border-radius: 12px;
    padding: 16px 32px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $color-white;
      z-index: -1;
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      transition: clip-path 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover::before,
    &:focus-visible::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    &:hover,
    &:focus-visible {
      color: $color-accent;
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }
}
