@use '@/assets/styles/variables' as *;
@use '@/assets/styles/mixins' as *;

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    margin-bottom: 40px;

    // Определяем CSS-переменную для переопределения цвета текста логотипа
    --logo-text-color: #{$color-text-black-solid};
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
  }

  &__submit-btn {
    width: 100%;
  }

  &__switch-btn {
    font: $font-play-h3;
    color: $color-text-black-solid;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    &:hover,
    &:focus-visible {
      outline: none;
      color: $color-accent;
    }
  }
}
