// Мобильное меню
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $color-blue-gradient;
  padding: 100px 30px 15px;
  overflow-y: auto;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
  pointer-events: none;
  overflow-y: auto;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.7s;


  // Состояние открытого меню
  .header--open & {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.3s ease-in;

    &__item {
      opacity: 1;
      transform: translateX(0);
      transition:
        opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

      &:nth-child(1) {
        transition-delay: 0.3s;
      }

      &:nth-child(2) {
        transition-delay: 0.4s;
      }

      &:nth-child(3) {
        transition-delay: 0.5s;
      }

      &:nth-child(4) {
        transition-delay: 0.6s;
      }

      &:nth-child(5) {
        transition-delay: 0.7s;
      }
    }

    &__bottom {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 1s;
    }
  }

  // Список меню
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // Элемент списка
  &__item {
    margin-bottom: 18px;
    opacity: 0;
    transform: translateX(-150px);

    // transition: opacity 0.3s ease-in, transform 0.3s ease-in;
    transition:
      opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(1) {
      transition-delay: 0.5s;
    }

    &:nth-child(2) {
      transition-delay: 0.4s;
    }

    &:nth-child(3) {
      transition-delay: 0.3s;
    }

    &:nth-child(4) {
      transition-delay: 0.2s;
    }

    &:nth-child(5) {
      transition-delay: 0.1s;
    }
  }

  // Ссылка
  &__link {
    display: block;
    font-size: 32px;
    line-height: 36px;
    color: $color-white;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;



    &__link:hover,
    &__link:focus-visible {
      outline: none;
      color: $color-white-smoke;
    }
  }

  // Нижний контент
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    opacity: 0;
    transform: translateY(4px);
    transition:
      opacity 0.3s ease-in,
      transform 0.3s ease-in;
  }

  // Логотип
  &__logo {
    display: block;
    color: $color-white;

    svg {
      width: 278px;
      height: 14px;
    }
  }

  // Копирайт
  &__copyright {
    font-size: 14px;
    line-height: 20px;
    color: $color-white;
    margin: 0;
  }

  // Ссылка на политику
  &__policy {
    font-size: 14px;
    line-height: 20px;
    color: $color-white;
    text-decoration: underline;

    &:hover,
    &:focus-visible {
      opacity: 0.8;
      outline: none;
    }
  }
}