@use '@/assets/styles/variables' as *;
@use '@/assets/styles/mixins' as *;

.trailer {
  position: relative;
  width: 80vw;
  aspect-ratio: 16/9;
  border-radius: 8px;
  overflow: hidden;
  background: $color-black;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);

  @include vp-tablet {
    width: 80vw;
  }

  @include vp-mobile {
    width: 94vw;
    height: 50vh;
    border-radius: 16px;
    aspect-ratio: 16/9;
  }

  &__video {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      object-fit: cover;
    }

    // Дополнительная специфичность для YouTube iframe
    > div {
      width: 100%;
      height: 100%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
