@use '@/assets/styles/variables' as *;
@use '@/assets/styles/mixins' as *;

.favorites-list {
  width: 100%;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
    gap: 64px 40px;

    @include vp-tablet {
      grid-template-columns: repeat(5, 224px);
      grid-auto-rows: 1fr 1fr;
      gap: 40px;
      padding: 16px 0;
      overflow-x: auto;
      scroll-behavior: smooth;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    @include vp-mobile {
      grid-auto-flow: column;
      grid-template-columns: repeat(auto-fit, 224px);
    }
  }
}
