.basket {
  background-color: $color-white;
  border-radius: 8px;
  padding: 16px;
  position: absolute;
  right: 0;
  top: calc(100% + 18px);
  box-shadow: 0 10px 60px 0 rgba(115, 115, 115, 0.1);
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: opacity $transition, transform $transition;
  z-index: 10;

  &--active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }

  &__empty-block {
    text-align: center;
    padding: 40px;
    width: 366px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    margin: 0 0 16px;
    padding: 0;
  }

  &__item {
    display: grid;
    gap: 20px;
    grid-template-columns: 60px 170px 76px 20px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
  }

  &__name {
    font-size: 16px;
    font-weight: 600;
    color: $color-black;
    margin-bottom: 4px;
    line-height: 1.2;
    word-break: break-word;
    font-family: $ff-mulish;
  }

  &__price {
    font-size: 15px;
    font-weight: 500;
    color: $color-fern;
    line-height: 1.2;
    font-family: $ff-mulish;
  }

  &__item-close {
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background $transition;

    &:hover,
    &:focus {
      background: $color-white-smoke;
    }
  }

  &__img {
    align-items: flex-start;
    background-color: $color-white-smoke;
    border-radius: 6px;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 60px;
    overflow: hidden;


    img {
      height: 60px;
      object-fit: contain;
      width: 60px;
    }
  }

  &__link {
    display: block;
    width: 100%;
    margin: 0 auto 8px auto;
    padding: 14px 0;
    background: $color-fern;
    color: $color-white;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    transition: background $transition;
    box-shadow: 0 2px 8px 0 #48484814;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      background: darken($color-fern, 8%);
      color: $color-white;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: $color-fern;
    transition: fill $transition;

    &:hover,
    &:focus {
      fill: darken($color-fern, 8%);
    }
  }
}