@use '@/assets/styles/variables' as *;
@use '@/assets/styles/mixins' as *;

.user-page {
  min-height: calc(100vh - 310px);
  background: transparent;
  margin-bottom: 64px;

  @include vp-tablet {
    min-height: calc(100dvh - 240px);
    margin-bottom: 40px;
  }

  &__title {
    font: $font-play-h1;
    color: $color-white;
    margin: 0 0 64px 0;
    text-align: left;

    @media (prefers-color-scheme: light) {
      color: $color-text-black-solid;
    }

    @include vp-tablet {
      font: $font-play-h4;
      margin-bottom: 40px;
    }
  }

  &__tabs {
    display: flex;
    gap: 64px;
    margin-bottom: 64px;

    @include vp-tablet {
      margin-bottom: 40px;
      gap: 24px;
    }
  }

  &__tab {
    font: $font-play-body-large;
    color: $color-white;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    outline: none;

    @media (prefers-color-scheme: light) {
      color: $color-text-black-solid;
    }

    &:hover,
    &:focus-visible {
      border-bottom-color: $color-accent;
    }

    &--active {
      border-bottom-color: $color-accent;
    }
  }

  &__tab-icon {
    width: 24px;
    height: 24px;
  }

  &__tab-text {
    &--mobile-hidden {
      @include vp-mobile {
        display: none;
      }
    }
  }

  &__content {
    min-height: 400px;
  }

  &__favorites {
    width: 100%;
  }

  // Настройки аккаунта
  &__settings {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__profile-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 40px;
    padding: 32px;
    background: $color-bg-tertiary;
    border-radius: 16px;
    border: $border-user-card;

    @media (prefers-color-scheme: light) {
      background: $color-bg-white;
      border: $border-bottom;
    }

    @include vp-mobile {
      padding: 22px;
    }
  }

  &__user-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 76px;
    margin: 0;
    position: relative;

    @include vp-mobile {
      padding-left: 64px;
    }

    &:first-child::before {
      content: attr(data-initials);
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      width: 60px;
      height: 60px;
      background: $color-background-disabled;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: 600;
      color: $color-white;

      @media (prefers-color-scheme: light) {
        background: $color-bg-primary;
      }

      @include vp-mobile {
        width: 42px;
        height: 42px;
      }
    }

    &:last-child::before {
      content: '';
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      width: 60px;
      height: 60px;
      background: $color-background-disabled;
      color: $color-white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      mask: url('@/assets/icons/mail.svg') no-repeat center;
      mask-size: contain;
      // filter: brightness(0) invert(1);

      @media (prefers-color-scheme: light) {
        background: $color-bg-primary;
      }

      @include vp-mobile {
        width: 42px;
        height: 42px;
      }
    }
  }

  &__description {
    font: $font-play-body-medium;
    color: $color-text-disabled;
    margin: 0;

    @media (prefers-color-scheme: light) {
      color: $color-text-placeholder;
    }

    @include vp-mobile {
      font: $font-play-body-small;
    }
  }

  &__user-name,
  &__user-email {
    font: $font-play-h2;
    color: $color-white;
    text-wrap: wrap;
    margin: 0;

    @media (prefers-color-scheme: light) {
      color: $color-text-black-solid;
    }

    @include vp-mobile {
      font: $font-play-body-medium;
    }
  }

  &__logout-btn {
    width: 100%;
    font: $font-play-h3;
    background: $color-accent;
    color: $color-white;
    border: none;
    border-radius: 12px;
    padding: 16px 32px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $color-white;
      z-index: -1;
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      transition: clip-path 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover::before,
    &:focus-visible::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    &:hover,
    &:focus-visible {
      color: $color-accent;
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }
}
