@use '@/assets/styles/variables' as *;
@use '@/assets/styles/mixins' as *;

.home-page {
  min-height: 100vh;
  margin-bottom: 64px;

  @include vp-tablet {
    min-height: calc(100dvh - 230px);
    margin-bottom: 40px;
  }

  &__grid {
    overflow-x: auto;
    overflow-y: visible;
    width: 100%;
    max-width: 100vw;

    // Скрыть скроллбар во всех браузерах
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE/Edge

    &::-webkit-scrollbar {
      // Chrome/Safari/Opera
      display: none;
    }
  }
}
