@use '_variables' as *;
@use '_mixins' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: $font-family-play, sans-serif;
  color: $color-text-primary;

  // Применяем темную тему по умолчанию
  @include theme-dark {
    background-image: $gradient-background;
  }

  // Автоматическое переключение на светлую тему при системных настройках
  @media (prefers-color-scheme: light) {
    @include theme-light {
      color: $color-text-black;
      background-image: $gradient-background;
    }
  }
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

img,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.visualhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}
