@use '@/assets/styles/variables' as *;
@use '@/assets/styles/mixins' as *;

.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  padding: 20px;
}

.spinner {
  position: relative;
  border-radius: 50%;
  background: conic-gradient(from 0deg, transparent, $color-primary);
  animation: spin 1s linear infinite;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: $color-bg-default;
  }

  &.small {
    width: 24px;
    height: 24px;

    &::before {
      width: 18px;
      height: 18px;
    }
  }

  &.medium {
    width: 40px;
    height: 40px;

    &::before {
      width: 30px;
      height: 30px;
    }
  }

  &.large {
    width: 60px;
    height: 60px;

    &::before {
      width: 45px;
      height: 45px;
    }
  }
}

.spinnerInner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(from 0deg, $color-primary, transparent);
  animation: spin 1.5s linear infinite reverse;
}

.loadingText {
  margin-top: 16px;
  font-size: 16px;
  color: $color-text-secondary;
  font-weight: 500;
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
